@model GolfGroup
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-fluid" style="margin-top: -50px">
    <form id="deleteForm" method="post" action="@Url.Action("Delete", "GolfGroup")">
        <div class="pt-4 mt-3">
            <div asp-validation-summary="All">
                <div class="row pb-2">
                    <h3 style="text-align:center">@ViewBag.GCName -  @ViewBag.GRDate</h3>
                    <h3 style="text-align:center">
                        Delete a Golf Group
                    </h3>
                    <hr />
                    <div class="col-12" >
                        <ul style="list-style-type:none; text-align:center">
                            <li>
                                <input hidden asp-for="@Model.GGId" />
                                <input disabled asp-for="GGName" class="form-divided" style="width: 250px"/>
                                <input disabled asp-for="GGTtime" class="form-divided" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="text-align: center">
                <button type="button" class="btn btn-primary form-control" onclick="confirmDelete()">
                    <i class="bi bi-trash-fill"></i> Delete
                </button>
            </div>
            <div class="col-6" style="text-align: center">
                <a asp-controller="GolfGroup" asp-action="Index" asp-route-GRId="@ViewBag.GRId"
                    class="btn btn-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}