@model List<GolfCourse>

<div class="container" style="width: 100%;">
    <div class="row pt-2 pb-1 align-items-center" style="margin-top: -50px;">
        <div class="col-md-6">
            <h3 class="text-primary text-center">Golf Course List</h3>
        </div>
        <div class="col-md-6 text-md-end text-center">
            <a asp-controller="GolfCourse" asp-action="Upsert" class="btn btn-primary">
                Add Golf Course
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table id="gCTable" class="table table-bordered table-striped">
            <thead style="background-color: orange;">
                <tr>
                    <th>Course</th>
                    <th>Holes</th>
                    <th>Course Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="GolfCourse" asp-action="Upsert" asp-route-GCID="@obj.GCId" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="GolfCourseHole" asp-action="Index" asp-route-GCId="@obj.GCId" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="GolfCourse/Upsert?GCID=@obj.GCId">@obj.GCName</a>
                        </td>
                        <td>@obj.GCStreet</td>
                        <td>@obj.GCCity</td>
                        <td>@obj.GCState</td>
                        <td>@obj.GCZip</td>
                        <td>@obj.GCPhoneNumber</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="GolfCourse" asp-action="Delete" asp-route-GCID="@obj.GCId" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#gCTable').DataTable();
    });
</script>
