@using Models;
@model EventVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<partial name="pvNotification" />

<div style="margin-top: -50px">
    <form method="post">
        <div class="pt-4 mt-3" style="text-align: center">

            <div asp-validation-summary="All">
    .            <div class="row pb-2">
                    <h3 class="text-primary" style="text-align:center">Browse Event</h3>
                    <hr />
                    <ul style="list-style-type:none;">
                        <li>
                            <input type="hidden" asp-for="@Model.Event.EvId" />
                            <input type="hidden" asp-for="@Model.Event.EvDate" />
                            <input type="hidden" asp-for="@Model.Event.EvId" />
                            <input type="hidden" asp-for="@Model.Event.EvType" />
                            <input type="hidden" asp-for="@Model.Event.EvDescription" />
                            <input type="hidden" asp-for="@Model.Event.EvShortDescription" />
                            <input type="hidden" asp-for="@Model.AvailableRecipients" />


                            <input asp-for="@Model.Event.EvShortDescription" disabled placeholder="Event Short Description" style="width:400px; text-align:center" />
                            <span asp-validation-for="@Model.Event.EvShortDescription" class="text-danger"></span>
                        </li>
                        <br />
                        <li>
                            <Label>  Event Type</Label>

                            <select asp-for="@Model.Event.EvType" disabled class="form-divided">
                                <option value="Golf Round">Golf Round</option>
                                <option value="Golf Dinner">Golf Dinner</option>
                            </select>

                            <input type="Date" asp-for="@Model.Event.EvDate" disabled class="field-divided" placeholder="Event Date" size="50" />
                            <span asp-validation-for="@Model.Event.EvDate" class="text-danger"></span>
                        </li>
                        <br /> 

                        <li>
                            <textarea disabled id="summernote" name="EvDescription" style="text-align:center"
                                      asp-for="@Model.Event.EvDescription" placeholder="Event Description"></textarea>
                            <span asp-validation-for="@Model.Event.EvDescription" disabled class="text-danger"></span>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#myModal">Email</button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#myModal2">Add Participants</button>
            </div>
            <div class="col-4">
                <a asp asp-controller="Event" asp-action="Index" class="btn btn-secondary form-control">
                        Back to List
                </a>
            </div>
        </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <!-- Modal content goes here -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select Email Recepients</h5>
                            <button type="button" class="close" data-bs-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                        <form>
                            <input type="hidden" asp-for="@Model.Event.EvId" />
                            <input type="hidden" asp-for="@Model.Event.EvDate" />
                            <input type="hidden" asp-for="@Model.Event.EvId" />
                            <input type="hidden" asp-for="@Model.Event.EvType" />
                            <input type="hidden" asp-for="@Model.Event.EvDescription" />
                            <input type="hidden" asp-for="@Model.Event.EvShortDescription" />
                            <input type="hidden" asp-for="@Model.AvailableRecipients" />

                            <label>From: </label> <input asp-for="@Model.EmailSender" placeholder="Email Sender" size="40px" />
                            <br/>
                            <br />
                            <p Style="font-weight: bold; text-align: left; font-size:small; color: #325d88;">
                                    Select All for All Members / Ctrl + Select for Multiple Members</p>
                            
                            <select asp-for="@Model.EmailRecipients" id="languages" asp-items="@Model.AvailableRecipients" size="4" multiple="multiple" 
                                class="form-control selectpicker show-tick select-all" data-selected-text-format="count > 2">
                                <option value="[all]" class="select-all">All Items</option>
                                <span asp-validation-for="@Model.EmailRecipients" class="text-danger"></span>
                            </select>
                            <br />
                            <textarea name="EmailMessage" class="form-control" cols="60" rows="8"
                                            asp-for="@Model.EmailMessage" placeholder="Email Message"></textarea>
                                <span asp-validation-for="@Model.EmailMessage" class="text-danger"></span>


                            <script>
                                $(document).ready(function () {
                                    $('.selectpicker.select-all').on('change', function () {
                                        var selectPicker = $(this);
                                        var optionValues = selectPicker.find('option[value!="[all]"][data-divider!="true"]');
                                        var selectAllOption = selectPicker.find('option.select-all');
                                        var checkedAll = selectAllOption.prop('selected');
                                        var allSelected = optionValues.length === optionValues.filter(':selected').length;

                                        if (checkedAll) {
                                            optionValues.prop('selected', !allSelected);
                                        } else {
                                            selectAllOption.data('all', allSelected);
                                        }

                                        selectPicker.selectpicker('refresh');
                                    }).trigger('change');

                                    $("#submit").click(function () {
                                        var selectedValues = $("#languages option:selected").map(function () {
                                            return this.value;
                                        }).get().join(",");

                                        // Update server-side model or perform other actions as needed
                                        // e.g., using AJAX to update @Model.EmailRecipients
                                    });
                                });


                                $(document).ready(function () {
                                    $("#submit").click(function () {
                                        const selectedvalues = $(
                                            "#languages option:selected"
                                        ).map(function () {
                                            return this.value;
                                        }).get().join(",");
                                @Model.EmailRecipients = selectedvalues);
                                });

                             </script>

                         </form>
                    </div>
                </div>
                <div class="modal-footer" >
                    <div >
                        <a href="~/Admin/Event/EventEmail" input type="submit" 
                        class="btn btn-primary form-control">Send Email</a>
                    </div>
                </div>
            </div>
            </div>

    </form>
</div>
@section Scripts {



    @{
        <partial name="_ValidationScriptsPartial" />
    }



}