
@using Microsoft.AspNetCore.Identity;
@using Models
@using Utility;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var usr = await UserManager.GetUserAsync(User);
    var email = usr?.Email;
}
@model List<Member>

<div class-"container" style="margin-top: -50px ">
    <div class="row pt-2 pb-1">
        <div class="col=6" >
         <h3 class=" text-primary, text-center" >
            Member List
         </h3>
        </div>
        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_League_Admin))
        {
            <div class="col=6 align-text-left">
                <a asp  asp-controller="Member" asp-action="Create" class="btn btn-primary">
                Create New Member
                <i class="bi bi-plus-circle"></i>
                </a>
                <a asp asp-controller="BufferedFileUpload" asp-action="Upload" class="btn btn-primary">
                    Upload Member Excel
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
        }
    </div>
  <div>
    <table id ="mTable" class="table table-bordered table-striped " >
     <thead style="background-color:lightblue">

        <tr >
        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_League_Admin))
        {
            <th>
              Edit
            </th>
            }
            <th>
              Member Name
            </th>

            <th>
              Member eMail
            </th>
            <th>
              Member Status
            </th>
            <th>
              Member Type
            </th>
            <th>
              Registered
            </th>
            <th>
                Phone
            </th>
        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_League_Admin))
        {
            <th>
                Delete
            </th>
            }
            
        </tr>
    <thead>
   <tbody>

        @foreach(var obj in Model)
        {
            <tr>
                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_League_Admin))
                {
                    <th>

                    <div class="w-50 bntn-group" role="group">
                            <a asp-controller="Member" asp-action="Edit" asp-route-MemberId="@obj.MemberId" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </th>
                }
                <th>
                  @if (email == obj.Email) {
                    <a href="Member/Edit?MemberId=@obj.MemberId">
                                @obj.FirstName  @obj.LastName
                    </a>
                  }
                  @if (email != obj.Email) {
                    <a href="Member/Browse?MemberId=@obj.MemberId">
                                @obj.FirstName  @obj.LastName
                    </a>
                  }
                </th>
                <th>
                    @obj.Email
                </th>              
                <th>
                    @obj.MemberStatus
                </th>
                <th>
                    @obj.MemberType
                </th>
                <th>
                    @obj.Registered
                </th>
                <th>
                    @obj.PhoneNumber
                </th>
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_League_Admin))
                    {
                <th>
                    <div class="w-50 bntn-group" role="group" >
                        <a asp-controller="Member" asp-action="Delete" asp-route-MemberId="@obj.MemberId" class="btn btn-danger" >
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </th>
                }
                </tr>
            }
        </tbody>
    </table>
   </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mTable').DataTable();
    });
</script>
