@using Models;
@using TBGC.Models
@model GolfCourseHoleVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<partial name="pvNotification" />

<form method="post">
    <div asp-validation-summary="All">
    <div class="pt-4 mt-3">
          <div class="row pb-2">
                <h2><label for="GolfCourseHoles[1].GCName"> @Model.GolfCourseHoles[1].GCName </label></h2>
                <h3 class="text-primary"> Add Golf Course Holes</h3>
                <input type="text" name="GolfCourseHoles.GHSectName" value="@Model.GolfCourseHoles[1].GHSectName" maxlength="20" style="width: 200px" placeholder="Section/ Sub-Course Name" />
                <table class="table table-bordered table-striped ">
                    <thead style="background-color:lightblue">
                        <tr>
                            <th>
                                Hole Number
                            </th>
                            <th>
                                Par
                            </th>
                            <th>
                                Handicap
                            </th>
                        </tr>
                    <thead>
                    <tbody>
                @for (var i = 0; i < Model.GolfCourseHoles.Count; i++)
                     {
                         <tr>
                                <input type="hidden" name="GolfCourseHoles" value="@Model.GolfCourseHoles" />
                                <input type="hidden" name="GolfCourseHoles[@i].GHSectName" value="@Model.GolfCourseHoles[1].GHSectName" />
                                <span asp-validation-for="GolfCourseHoles[@i].GHSectName" class="text-danger"></span>
                                <th>
                                <input type="text" name="GolfCourseHoles[@i].GHHole" value="@Model.GolfCourseHoles[i].GHHole" maxlength="8" style="width: 80px" />
                                <span asp-validation-for="GolfCourseHoles[@i].GHHole" class="text-danger"></span>
                                </th>
                               <th>
                                    <input type="number" name="GolfCourseHoles[@i].GHPar" value="@Model.GolfCourseHoles[i].GHPar" maxlength="8" style="width: 80px" />
                                    <span asp-validation-for="GolfCourseHoles[@i].GHPar" class="text-danger"></span>
                                </th>
                                <th>
                                    <input type="number" name="GolfCourseHoles[@i].GHHandicap" value="@Model.GolfCourseHoles[i].GHHandicap" maxlength="8" style="width: 80px" /> 
                                    <span asp-validation-for="GolfCourseHoles[@i].GHHandicap" class="text-danger"></span>
                                </th>
                            </tr>
                     }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<div class="list-group">
    <div class="col-6">
        <button type="submit" asp-controller="GolfCourseHoles"  class="btn btn-primary form-control">Create</button>
    </div>
    <div class="col-6">
        <a asp asp-controller="GolfCourse" asp-action="Index" class="btn btn-secondary form-control">
            Back to List
        </a>
    </div>
</div>

                     @section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}