@using Models;
@using TBGC.Models
@model List<GolfCourseHole>
<partial name="pvNotification"/>

<div >
    <div class="row pt-2 pb-1" style="margin-top: -50px">
        <div class="col=6" >
        <h3 class=" text-primary" style="text-align:center">Golf Course Holes</h3>
        <h3 style="text-align:center"><label for="GolfCourseHoles[1].GCName">@Model[1].GCName</label></h3>
        </div>
    </div>
    <div style="text-align: center">
    <table border="0" class="table table-striped "  >
     <thead >
        <tr >
            <td>
                <table class="table table-bordered table-striped ">
                   <thead>
                       <tr>
                        <th>@Model[1].GHSectName</th>
                        </tr> 
                        <tr>
                            <th>
                              Edit
                            </th>
                            <th>
                              Hole
                            </th>
                            <th>
                              Par
                            </th>
                            <th>
                              Handicap
                            </th>
                            <th>
                                Tee 1
                            </th>
                            <th>
                                Tee 2
                            </th>
                            <th>
                                Tee 3
                            </th>
                            <th>
                                Tee 4
                            </th>
                            <th>
                                Tee 5
                            </th>
                        </tr>
                      <tbody>
                        @for (int i = 0; i < 9; i++)
                        {
                            <tr>
                                <td maxlength ="5" style="width: 50px" >
                                    <div class="w-50 bntn-group" role="group"> 
                                            <a asp-controller="GolfCourseHole" asp-action="Edit" asp-route-GHId="@Model[i].GHId" class="btn btn-primary">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </div>
                                </td>
                                <td maxlength="5" style="width: 50px" >
                                    @Model[i].GHHole
                                </td>
                                    <td maxlength="5" style="width: 50px">
                                    @Model[i].GHPar
                                </td>
                                    <td maxlength="5" style="width: 50px">
                                    @Model[i].GHHandicap
                                </td>
                                <td maxlength="5" style="width: 50px">
                                        @Model[i].GHT1
                                </td>
                                <td maxlength="5" style="width: 50px">
                                        @Model[i].GHT2
                                </td>
                                <td maxlength="5" style="width: 50px">
                                        @Model[i].GHT3
                                </td>
                                <td maxlength="5" style="width: 50px">
                                        @Model[i].GHT4
                                </td>
                                <td maxlength="5" style="width: 50px">
                                        @Model[i].GHT5
                                </td>
                            </tr>
                        }
                       </tbody>
                 </table>
                </td>
                <td>
                <table class="table table-bordered table-striped ">
                        <thead >
                            <tr>
                                <th>@Model[10].GHSectName</th>
                            </tr>
                            <tr>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Hole 
                                </th>
                                <th>
                                    Par
                                </th>
                                <th>
                                    Handicap
                                </th>
                                <th>
                                    Tee 1
                                </th>
                                <th>
                                    Tee 2
                                </th>
                                <th>
                                    Tee 3
                                </th>
                                <th>
                                    Tee 4
                                </th>
                                <th>
                                    Tee 5
                                </th>
                            </tr>
                            <tbody>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                    <tr>
                                        <td maxlength="5" style="width: 50px">
                                            <div class="w-50 bntn-group" role="group">
                                                <a asp-controller="GolfCourseHole" asp-action="Edit" asp-route-GHId="@Model[i].GHId" class="btn btn-primary">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                    @Model[i].GHHole
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                    @Model[i].GHPar
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                    @Model[i].GHHandicap
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                @Model[i].GHT1
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                @Model[i].GHT2
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                @Model[i].GHT3
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                @Model[i].GHT4
                                        </td>
                                        <td maxlength="5" style="width: 50px">
                                                @Model[i].GHT5
                                        </td>
                                    </tr>
                                    }
                        </tbody>
                    </table>
                   
                </td>
    </table>
    @if (@Model.Count == 27)
    {
        <div style="width: 50%" >
            <table class="table table-bordered table-striped ">
                <thead >
                    <tr >
                        <th>@Model[19].GHSectName</th>
                    </tr>
                    <tr>
                        <th>
                            Edit
                        </th>
                        <th>
                            Hole 
                        </th>
                        <th>
                            Par
                        </th>
                        <th>
                            Handicap
                        </th>
                        <th>
                            Tee 1
                        </th>
                        <th>
                            Tee 2
                        </th>
                        <th>
                            Tee 3
                        </th>
                        <th>
                            Tee 4
                        </th>
                        <th>
                            Tee 5
                        </th>
                    </tr>
                    <tbody>
                        @for (int i = 18; i < 27; i++)
                        {
                                <tr>
                                    <td maxlength="5" style="width: 50px">
                                        <div class="w-50 bntn-group" role="group">
                                            <a asp-controller="GolfCourseHole" asp-action="Edit" asp-route-GHId="@Model[i].GHId" class="btn btn-primary">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                        @Model[i].GHHole
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                        @Model[i].GHPar
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                        @Model[i].GHHandicap
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                            @Model[i].GHT1
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                            @Model[i].GHT2
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                            @Model[i].GHT3
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                            @Model[i].GHT4
                                    </td>
                                    <td maxlength="5" style="width: 50px">
                                            @Model[i].GHT5
                                    </td>
                                </tr>
                        }
                    </tbody>
    </table>
    </div>
   }
    </div>
</div>
