@using Models;
@model GGScoreVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class-"container" style="margin-top: -50px">
    <form method="post">
        <div class="row pt-2 pb-1">
            <div class="col=6" style="text-align:center">
                <h3>@Model.GGS[0].GC.GCName</h3>
                <h3>Golf Group Scorecard - @ViewBag.GRDate @ViewBag.GGTtime</h3>
            </div>
        </div>
        <style>
            input {
                border-style: none;
                width: 30px;
                text-align: center;
            }

            select {
                border-style: none;
                width: 30px;
                text-align: center;
                font-size: small;
            }

            table, th, td {
                border: 1px solid black;
                text-align: center;
            }

            td {
                height: 40px;
            }

            tr:nth-child(0) {
                background-color: green;
                color: white;
            }

            tr:nth-child(1) {
                background-color: @Model.GGS[0].GC.GCT1;
                color: @Model.GGS[0].GC.GCC1;
            }

            tr:nth-child(2) {
                background-color: @Model.GGS[0].GC.GCT2;
                color: @Model.GGS[0].GC.GCC2;
            }

            tr:nth-child(3) {
                background-color: @Model.GGS[0].GC.GCT3;
                color: @Model.GGS[0].GC.GCC3;
            }

            tr:nth-child(4) {
                background-color: @Model.GGS[0].GC.GCT4;
                color: @Model.GGS[0].GC.GCC4;
            }

            tr:nth-child(11) {
                background-color: @Model.GGS[0].GC.GCT5;
                color: @Model.GGS[0].GC.GCC5;
            }

            th {
                background-color: green;
                color: white;
            }

            .T1 {
                background-color: white;
                color: black;
            }

            .T2 {
                background-color: wheat;
                color: black;
            }
        </style>
        <input type="hidden" asp-for=@Model.GGS[0].GG.GGId />
        <table border="0" >
            <thead>
                <tr>
                    <td>
                        <table border="0">
                            <thead>
                                <tr>
                                    <th width="270px">
                                        Hole
                                    </th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>Out</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th width="150px">In</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <img src="~/Palm-Beach-National4.jpg" style="width: 100%">

                                    <td maxlength="5">@Model.GGS[0].GC.GCT1</td>
                                  
                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT1
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT1TotOut</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT1
                                        </td>
                                    }
                                    <td>>@Model.GGS[0].GC.GCT1TotIn</td>
                                    <td>@Model.GGS[0].GC.GCT1Tot</td>
                                </tr>
                                <tr>
                                    <td maxlength="5"> @Model.GGS[0].GC.GCT2</td>

                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT2
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT2TotOut</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT2
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT2TotIn</td>
                                    <td>@Model.GGS[0].GC.GCT2Tot</td>
                                </tr>
                                <tr>
                                    <td maxlength="5"> @Model.GGS[0].GC.GCT3</td>

                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 5px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT3
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT3TotOut</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT3
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT3TotIn</td>
                                    <td>@Model.GGS[0].GC.GCT3Tot</td>
                                </tr>
                                <tr>
                                    <td maxlength="5">@Model.GGS[0].GC.GCT4</td>

                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT4
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT4TotOut</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT4
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT4TotIn</td>
                                    <td>@Model.GGS[0].GC.GCT4Tot</td>
                                </tr>
                                <tr class="T2">
                                    <td maxlength="5" class="T2">Par</td>

                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 50px" class="T2">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHPar
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCParOut</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px" class="T2">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHPar
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCParIn</td>
                                    <td>@Model.GGS[0].GC.GCParTot</td>
                                </tr>
                                @for (int g = 0; g < @Model.GGS.Count; g++)
                                {
                                   
                                    <tr class="T1">
                                        <td maxlength="5" class="T1">
                                            @if (@Model.GGS[g].GP.GPType == "Guest")
                                            {
                                                @Model.GGS[g].GP.GPFName  @Model.GGS[g].GP.GPFName;
                                            }
                                            else
                                            {
                                                @Model.GGS[g].GP.Member.FirstName    @Model.GGS[g].GP.Member.LastName
                                            }
                                        </td>
          
                           
                                        @for (int i = 0; i < 9; i++)
                                        {
                                            <td>
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GHId />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPId />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSId />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSPutts />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSGIY />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSFW />
                                                <input type="numeric" asp-for=@Model.GGS[g].GPS[i].GPSStrokes class="input" />
                                            </td>
                                        }
                                        <td>@Model.GGS[g].GP.Tot1</td>

                                        @for (int i = 9; i < 18; i++)
                                        {
                                            <td>
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GHId />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPId />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSId />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSPutts />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSGIY />
                                                <input type="hidden" asp-for=@Model.GGS[g].GPS[i].GPSFW />
                                                <input type="numeric" asp-for=@Model.GGS[g].GPS[i].GPSStrokes class="input" />
                                            </td>
                                        }
                                        <td>@Model.GGS[g].GP.Tot2</td>
                                        <td>@Model.GGS[g].GP.Tot3</td>
                                    </tr>
                                }
                                <tr class="T2">

                                    <td maxlength="5" class="T2">Handicap</td>

                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 50px" class="T2">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHHandicap
                                        </td>
                                    }
                                    <td></td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px" class="T2">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHHandicap
                                        </td>
                                    }
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="T1">
                                    <td maxlength="5">@Model.GGS[0].GC.GCT5</td>

                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT5
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT5TotOut</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td maxlength="5" style="width: 50px">
                                            @Model.GGS[0].GPS[i].GolfCourseHole.GHT5
                                        </td>
                                    }
                                    <td>@Model.GGS[0].GC.GCT5TotIn</td>
                                    <td>@Model.GGS[0].GC.GCT5Tot</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
            </thead>
        </table>
        <br />
        <div class="row">
            <div class="col-6">

                <button type="submit" class="btn btn-primary form-control">Save Changes</button>

            </div>
            <div class="col-6">
                <a asp asp-controller="GolfPlayer" asp-action="Index" asp-route-GGId=@ViewBag.GGId class="btn btn-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </form>
</div>
@section Scripts
    {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

