@page
@model ExternalLoginsModel

 <div class="container" style="margin-top: -40px;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3>Manage External Logins</h3>
            <partial name="_StatusMessage" for="StatusMessage" />

            @if (Model.CurrentLogins?.Count > 0)
            {
                <h4>Registered Logins</h4>
                <table class="table table-responsive">
                    <tbody>
                        @foreach (var login in Model.CurrentLogins)
                        {
                            <tr>
                                <td>
                                    @if (Model.ShowRemoveButton)
                                    {
                                        <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post" class="d-inline">
                                            <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                            <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                            <button type="submit" class="btn btn-danger" title="Remove this login from your account">Remove @login.ProviderDisplayName</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <span>&nbsp;</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (Model.OtherLogins?.Count > 0)
            {
                <h4>Add Another Service to Log In</h4>
                <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
                    <div id="socialLoginList" class="d-flex flex-wrap justify-content-center">
                        @foreach (var provider in Model.OtherLogins)
                        {
                            <button id="@($"link-login-button-{provider.Name}")" type="submit" class="btn btn-primary m-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </div>
                </form>
            }
        </div>
    </div>
</div>
